@{
    ViewBag.Title = "NgPracticeDemo";
}

<h2>NgPracticeDemo</h2>
<div class="container theme-showcase form-group form-group-sm" ng-app="demoApp">
      <div class="col-sm-5" ng-controller="DemoCtrl">
            Hello {{1+1}}nd time AngularJS!!
          </div>
</div>
<script src="~/Scripts/ngScriptPractice.js"></script>
